<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Flowbite CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <!-- Flowbite Icon Script -->
    <script src="https://unpkg.com/@iconscout/unicons@4.0.0/dist/line/unicons.js"></script>
    <!-- Simple DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    {% include 'dashboard/sidebar.html' %}

    <div class="p-4 sm:ml-64 " >
        <div class="p-4">
            <div class="pb-2 ">
                <h1 class="text-gray-500 font-semibold text-lg">Users</h1>
            </div><hr>
            <table id="pagination-table" class="min-w-full ">
                <thead>
                    <tr>
                        <th>
                            <span class="flex items-center">#</span>
                        </th>
                        <th>
                            <span class="flex items-center">Name</span>
                        </th>
                        <th>
                            <span class="flex items-center">Email</span>
                        </th>
                        <th>
                            <span class="flex items-center">Point</span>
                        </th>
                        <th>
                            <span class="flex items-center">Admin</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="{% if user[5] %}bg-yellow-100{% endif %}">
                        
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td><span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded ">{{ user[3] }}</span></td>
                        <td>{% if user[4] == 0  %}<span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded ">user</span>  {% else %} <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded ">admin</span> {% endif %}</td>
                        <td>
                            {% if user[5] %}  <!-- Assuming user[5] is the is_banned status -->
                            <form action="{{ url_for('unban_user', user_id=user[0]) }}" method="post" style="display:inline;">
                                <button type="submit" class="bg-blue-600 text-white px-1 rounded" onclick="return confirm('Are you sure you want to unban this user?');"><i class='bx bxs-lock-open-alt'></i></button>
                            </form>
                            {% else %}
                            
                            <form action="{{ url_for('ban_user', user_id=user[0]) }}" method="post" style="display:inline;">
                                <button type="submit" class="bg-red-600 text-white px-1 rounded" onclick="return confirm('Are you sure you want to ban this user?');">
                                    <i class='bx bxs-lock-alt' ></i>
                                </button>
                            </form>
                            {% endif %}
                            
                            <form action="{{ url_for('delete_user', user_id=user[0]) }}" method="post" style="display:inline;">
                                <button type="submit" class="bg-yellow-600 text-white px-1 rounded" onclick="return confirm('Are you sure you want to delete this user?');">
                                    <i class='bx bxs-trash-alt'></i>
                                </button>
                            </form>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <!-- Simple DataTables JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/umd/simple-datatables.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            if (document.getElementById("pagination-table")) {
                const dataTable = new simpleDatatables.DataTable("#pagination-table", {
                    paging: true,
                    perPage: 5,
                    perPageSelect: [5, 10, 15, 20, 25],
                    sortable: false
                });
            }
        });
    </script>
</body>
</html>
